### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Project exclude paths
/.gradle/
/build/reports/tests/1745595798497.0.html
/build/reports/tests/1745595798497.0.png
/build/reports/tests/1745601709160.0.html
/build/reports/tests/1745601709160.0.png
/build/reports/tests/1745602087804.0.html
/build/reports/tests/1745602087804.0.png
/build/reports/tests/1745602480812.0.html
/build/reports/tests/1745602480812.0.png
/build/reports/tests/1745602621699.0.html
/build/reports/tests/1745602621699.0.png
/build/reports/tests/1745603028095.0.html
/build/reports/tests/1745603028095.0.png
/build/reports/tests/1745603206823.0.html
/build/reports/tests/1745603206823.0.png
/build/reports/tests/1745603306829.0.html
/build/reports/tests/1745603306829.0.png
/build/reports/tests/1745603566758.0.html
/build/reports/tests/1745603566758.0.png
/build/reports/tests/1745603775703.0.html
/build/reports/tests/1745603775703.0.png
/build/reports/tests/1745603888518.0.html
/build/reports/tests/1745603888518.0.png
/build/reports/tests/1745604113005.0.html
/build/reports/tests/1745604113005.0.png
/build/reports/tests/1745605301946.0.html
/build/reports/tests/1745605301946.0.png
/build/reports/tests/1745605444893.0.html
/build/reports/tests/1745605444893.0.png
/build/reports/tests/1745605468045.0.html
/build/reports/tests/1745605475379.0.html
/build/reports/tests/1745605489435.0.html
/build/reports/tests/1745605489435.0.png
/build/reports/tests/1745606249130.0.html
/build/reports/tests/1745606249130.0.png
/build/reports/tests/1745606264490.0.html
/build/reports/tests/1745606264490.0.png
/build/reports/tests/1745606534679.0.html
/build/reports/tests/1745606546978.0.html
/build/reports/tests/1745606546978.0.png
/build/reports/tests/1745606860867.0.html
/build/reports/tests/1745606860867.0.png
/build/reports/tests/1745607109009.0.html
/build/reports/tests/1745607109009.0.png
/build/resources/test/AvatarExample.jpg
/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/packages/default-package.html
/build/reports/tests/test/index.html
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/tmp/compileTestJava/previous-compilation-data.bin
/build/reports/tests/test/js/report.js
/build/test-results/test/binary/results.bin
/build/reports/tests/test/css/style.css
/build/test-results/test/TEST-ThirdHomeTaskTests.xml
/build/classes/java/test/ThirdHomeTaskTests.class
/build/reports/tests/test/classes/ThirdHomeTaskTests.html
